{% extends 'base.html' %}
{% block title %}CourseList Page{% endblock title %}
{% block body %}
    <h1>CourseList</h1>
    <h1>Hello {{name}}!!!</h1>
    <table>
        <thead>
            <tr>
                <th>SrNo</th>
                <th>Course</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if cou %}
                {% for cou in cou %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{cou.name}}</td>
                        <td>
                            <form action="{% url 'subject' cou.id %}" method="get">{% csrf_token %}
                                <button type="submit">Details</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3"><h1>No Records</h1></td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <a href="{% url 'addcourse' %}">Admin</a><br>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'enrollment' %}">Enrolled course</a>
{% endblock body %}